.search-input-nav{
    width: 100% !important;
    height: 55px !important;
    margin-right: auto !important;
}
.b2b-container-onboarding {
    padding-bottom: 74px;
}
.user {
    background-color: #f8f9ff;
    background-image: none;
}
.body-wrapper-cat{

        height: auto;
        min-height: auto;
        padding-bottom: 50px;
        background-color: #f8f9ff;
    
}